footer {
  height: 30.25rem;
}
footer .contato {
  background-image: linear-gradient(
      45deg,
      rgba(41, 49, 69, 0.7),
      rgba(41, 49, 69, 0.7)
    ),
    url(../images/fundo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 23.875rem;

  padding-top: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .contato h2 {
  line-height: 3.15rem;
  font-weight: 600;
  font-family: "Sora", sans-serif;
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
footer .contato p {
  width: 33rem;

  font-size: 1.125rem;
  text-align: center;
  color: #dbdbdb;
  line-height: 1.563rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;

  margin-bottom: 5.813rem;
}
footer .contato form {
  display: flex;
  flex-flow: row wrap;
  gap: 2.5rem;
  justify-content: center;
}
footer .contato input {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  width: 18.75rem;
  padding: 10px 5px;

  font-size: 1.125rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  line-height: 1.361rem;
}
::-webkit-input-placeholder {
  color: #fff;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

footer .contato form button {
  background-color: #0f9afe;
  border: none;
  border-radius: 3.125rem;
  padding: 0.5rem, 2rem;
  width: 7.375rem;
  height: 2.375rem;

  font-size: 1.125rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  line-height: 1.361rem;
  color: #fff;
}
footer .copyright {
  color: #293145;
  text-align: center;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.575rem;
  padding: 3.25rem;
}
